<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Desafio Liber Capital</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-item.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/welcome/index">
      <%= image_tag("liber_capital.png", size: "60x50", :style => 'padding-right: 10px', alt: "Liber Capital")%>
      Desafio Liber Capital
  	  </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/report">Relatório</a>
          </li>       
          <li class="nav-item active">
            <%= link_to "Deslogar #{current_user.username}", destroy_user_session_path, :method => :delete, class:"nav-link" %>   
          </li>     
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3" style="padding-top:80px;">      
        <div class="list-group">
          <a href="/person" class="list-group-item active">            
          	Pessoas
          </a>
          <a href="/locations" class="list-group-item">Locações</a>
          <a href="/drivers_licenses" class="list-group-item active">Carteiras</a>
          <a href="/phones" class="list-group-item">Telefones</a>
          <a href="/report" class="list-group-item active" style="margin-top:30px">
            Relatório
          </a>
        </div>

     
      </div>